<h1>Sikeresen feltöltötted a fájlt!</h1>
<h3>Letöltési link a fájlhoz:</h3>
<%= link_to "Letöltés", "http://localhost:3000/#{@url}" %><br>
<%= link_to "vissza a feltöltéshez", controller: 'data_file', action: 'index' %>